
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Creating a My Council Account
      </h1>

      <p>You can use this service to create a personal account which 
        you can then choose to share with council departments.</p>

      <p>With an account, you can store and share various personal 
        ID documents.</p>

      <p>You will only have to upload documents once
        and you can choose which council services are able to
        see a copy of these for any applications you make.</p>

      <h2 class="govuk-heading-m">Documents you can upload on this service:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Photo IDs (passport, driver's licence)</li>
        <li>Biometric Residence Permit (BRP)</li>
        <li>Birth Certificates</li>
        <li>Adoption Certificates</li>
        <li>Marriage/Civil Partnership Certificates</li>
        <li>Proof of address</li>
      </ul>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Log in
        </button>
        
        <button class="govuk-button" data-module="govuk-button" onclick="document.location='registration-requirements.html'">
          Register
        </button>
      </div>
    </div>
  </div>

{% endblock %}
