{% extends "layout.html" %} {% block pageTitle %} Confirmation page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>We have sent you a confirmation email.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>
      You can log in again at any time via
      <a href="my-council-account">www.loginagain.com</a>
    </p>
    <p>
      <a
        href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html"
        >What did you think of this service?</a
      >
      (takes 30 seconds)
    </p>
  </div>
</div>

{% endblock %}
